includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
	level: max
	tmpDir: ./tmp/phpstan

	paths:
		- src

	ignoreErrors:
		- '#Parameter (\#|\$).* expects list<(.*)>, array<int, \2> given.#i'
